@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=Oswald&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    overflow: hidden;
}

nav {
    display: flex;
    background-color: rgb(61, 250, 203);
    justify-content: space-around;
    color: black;
    height: 50px;
    align-items: center;
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: .9em;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 17px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 41px;
    height: 31px;
    opacity: 0;
    left: -7px;
    top: -4px;
    cursor: pointer;
    z-index: 1;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all .5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: black;
    transform: rotate(45deg) translate(-3px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: black;
    transform: rotate(-45deg) translate(-3px, -.5px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* Responsive */

@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .menu-toggle {
        display: flex;
    }
    nav ul {
        background-color: rgb(61, 250, 203);
        position: absolute;
        width: 60%;
        right: 0;
        top: 0;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        justify-content: space-evenly;
        z-index: -1;
        transform: translateX(100%);
        transition: all .5s;
        opacity: 0;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }
}